{% macro readMore(link) %}
  <p class="flex justify-end"><a class="block py-2 bg-link hover:bg-primary !text-white hover:!text-black !no-underline text-sm text-center uppercase rounded-4xl w-xs border border-link hover:border-black" href="{{ link }}">Lire la suite…</a></p>
{% endmacro %}
