{% macro aClass(entry, children) %}
  {% if entry.url.split("/").length === 3 %}
    block p-4 text-nowrap hover:text-bg-hover
  {% endif %}
  {% if entry.url.split("/").length === 4 %}
    block p-4 text-nowrap hover:underline {% if children.length %}-mb-4{% endif %}
  {% endif %}
  {% if entry.url.split("/").length >= 5 %}
    block px-4 py-0 text-sm text-nowrap hover:underline
  {% endif %}
{% endmacro %}

{% macro ulClass(entry) %}
  {% if entry.url.split("/").length === 3 %}
    md:absolute left-0 block md:hidden min-w-[200px] shadow-lg bg-bg text-black group-hover:block group-focus-within:block dark:bg-bg-menu-dark dark:text-bg
  {% endif %}
  {% if entry.url.split("/").length >= 4 %}
    ml-2
  {% endif %}
{% endmacro %}

{% macro renderNavItem(entry) %}
  {% set children = [] %}
  {% set level = entry.url.split("/").length %}
  {% set Allentries = collections.all %}

  {% for menuEntry in Allentries %}
    {% if menuEntry.url.split("/").length === level + 1 %}
      {%  if menuEntry.url.split("/")[level-2] === entry.url.split("/")[level-2] %}
        {# check parent too in case of duplicates #}
        {%  if menuEntry.url.split("/")[level-3] === entry.url.split("/")[level-3] %} 
          {% set children = (children.push(menuEntry), children) %}
       {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if children.length %}
    <li class="relative group {% if entry.url.split("/").length === 4 %}hover:bg-bg-hover pb-2{% endif %}">
      <div>
        <a href="{{ entry.url }}" class="{{aClass(entry, children)}}" {% if entry.url == page.url %} aria-current="page"{% endif %}>
            {{ entry.data.title }}
        </a>
        <ul role="list" class="{{ulClass(entry)}}">
          {%- for child in children %}
            {{ renderNavItem(child) }}
          {% endfor -%}
        </ul>
      </div>
    </li>
  {% else %}
    <li class="relative group {% if entry.url.split('/').length === 4 %}hover:bg-bg-hover {% endif %}">
      <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" {% endif %}
      class="{{aClass(entry)}}"
      >{{ entry.data.title }}</a> 
    </li>
  {% endif %}
{% endmacro %}