<!DOCTYPE html>
<html lang="{{ meta.language }}" class="h-full">
  <head>
    {% block head %}
      {% include "head.njk" %}
    {% endblock %}
  </head>
  {# <body> #}
  <body class="flex flex-col h-full dark:bg-bg-dark">
    {% block menu %}
      {% include "menu.njk" %}
    {% endblock %}

    {% block main %}
      <main class="container w-full lg:max-w-4xl mx-auto mt-28 px-6 py-4 flex-1 mkdn">

        {% block search %}
          <div class="w-full lg:max-w-4xl mx-auto px-6 flex-1">
            {% include "search.njk" %}
          </div>
        {% endblock %}

        {% block header %}
            {% include "header.njk" %}
        {% endblock %}

        {% block content %}
          <article data-pagefind-body id="maincontent">
            {{ content | safe }}
          </article>
          {# TODO: add back comments #}
          {% include "commentaires.njk" %}
        {% endblock %}

        {% block subfooter %}
          {# nunjunk doesn't support to import variables 
          https://github.com/mozilla/nunjucks/issues/539
          so you can't use renderFile with a variable in the file path
          sotution: use the filter renderContent with the file path 
          https://www.11ty.dev/docs/plugins/render/ #}
          {# also the page will not be hot rendered when a subfooter is modified
          also markdown is not supported and images will even break the buid #}
          {# {% if subfooter %}
            {% set filePath = "{% renderFile './src/static/subfooter/"+subfooter+".html' %}" %}
            {{ filePath | renderContent("njk") | safe }}
          {% endif %} #}

          {%- for subfooter in subfooters -%}
            {% set filePath = "{% renderFile './src/static/subfooter/"+subfooter+".html' %}" %}
            {{ filePath | renderContent("njk") | safe }}
          {%- endfor -%}
        {% endblock %}

      </main>
    {% endblock %}

    {% block footer %}
        {% include "footer.njk" %}
    {% endblock %}
  </body>
</html>
