<!DOCTYPE html>
<html lang="{{ meta.language }}" class="h-full">
  <head>
    {% block head %}
      {% include "head.njk" %}
    {% endblock %}
  </head>
  {# <body> #}
  <body class="flex flex-col h-full dark:bg-bg-dark">
    {% block menu %}
      {% include "menu.njk" %}
    {% endblock %}

    {% block main %}
      <main class="container w-full lg:max-w-4xl mx-auto mt-28 px-6 py-4 flex-1 {%if ismarkdown %} mkdn{% endif %}">

        {% block search %}
          <div class="w-full lg:max-w-4xl mx-auto px-6 flex-1 mkdn">
            {% include "search.njk" %}
          </div>
        {% endblock %}

        {% block header %}
          <div id="maincontent">
            {% include "header.njk" %}
          </div>
        {% endblock %}

        {% block content %}
          <article data-pagefind-body id="maincontent">
            {{ content | safe }}
          </article>
        {% endblock %}
      </main>
    {% endblock %}

    {% block footer %}
        {% include "footer.njk" %}
    {% endblock %}
  </body>
</html>
