{% from './macros/readMoreButton.njk' import readMore with context %}

{% extends './base.njk' %}

  {% block header %}
    {% if content %}
      <div id="maincontent">
        {% include "header.njk" %}
      </div> 
    {% endif %}
  {% endblock %}
        
  {% block content %}
  {% if content %}
    <article id="maincontent" data-pagefind-body>
      {{ content | safe }}
    </article>
  {% endif %}

  <section class="index"> {# use default mkdn class for styling  #}
    {%- for post in revue %}

        {% if not categorie or (post.data.categorie === categorie) %} {# requested categorie #}
          <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <em class="text-text-light">in <a href="/{{ post.data.categorie }}/" class="text-text-light">{{ post.data.categorie }}</a> le {{ post.date | date }}</em> <br/>
          {% for tag in post.data.tags %}
            <em class="text-primary text-xs">🏷</em> <em class="text-text-light text-xs"><a href="/tag/{{tag}}/">{{ tag }}</a></em>
          {% endfor %}
          <p>
            {% if post.data.page.excerpt %}
              <p class="text-justify justify-content"> {{ post.data.page.excerpt | md | safe }}</p>
              {{ readMore(post.url) }}
            {% else %}
              {% if post.data.headline %}
                <em>{{post.data.headline}}</em>
                {{ readMore(post.url) }}
              {% else %}
                {% if post.data.description %}
                  {{ post.data.description | md | safe }}
                  {{ readMore(post.url) }}
                {% else %}
                  <p class="text-justify justify-content">{{ post.content | safe }}</p>
                {% endif %}
              {% endif %}
            {% endif %}
            <div class="border-text-light [&&]:text-text-light border-1 rounded-2xl p-1 px-2">
              <em class="text-primary"> ✍</em>
              {% set entrees = [] %}
              {%- for comment in collections.comment -%}
                {% set length = comment.filePathStem.split("/").length %}
                {% set slug = "/"+comment.filePathStem.split("/")[length-2]+"/" %}
                {% if slug === post.data.page.url %}
                  {% set entrees = (entrees.push(comment), entrees) %}
                {% endif %}
              {%- endfor -%}
              {% if entrees.length %}
                  {{ entrees.length }} commentaire{% if entrees.length > 1 %}s{% endif %}
              {% else %}
                pas de commentaire
              {% endif %}
            </div>
          </p>
        {% endif %}

    {%- endfor %}

    {% if pagination.href.previous %}
      <div class="border-text-light [&&]:text-text-light border-1 rounded-2xl p-1 px-2 block float-left">
          <a href="{{pagination.href.previous}}" class="text-text-light!"> ← billets précédents </a>
      </div>
    {% endif %}
    {% if pagination.href.next %}
      <div class="border-text-light [&&]:text-text-light border-1 rounded-2xl p-1 px-2 block float-right">
          <a href="{{pagination.href.next}}" class="text-text-light!"> billets suivants → </a>
      </div>
    {% endif %}
    {% if pagination.pageNumber %}
      <div class="[&&]:text-text-light p-1 px-2 center m-auto w-35">
        Page {{ pagination.pageNumber }} sur {{ pagination.pages.length-1 }}
      </div>
    {% endif %}

  </section>
{% endblock %}
