{% extends './base.njk' %}

{% block content %}
  <article id="maincontent" data-pagefind-body>
    {{ content | safe }}
  </article>

  <section class="mkdn"><!-- use default mkdn class for styling -->
    {% if toc %}
      <h2>{{ toc}}</h2>
    {% endif %}

    {% set count = [1] %}
    {% for post in collections.all | reverse %}
      {% if post.inputPath.startsWith('./src/pages/posts/') %} {# only posts #}
        {% if post.url.startsWith(page.url) %} {# only posts bellow current #}
          {% if post.url !== page.url %}
            {% if (count.length < 10) %} {# only 10 first posts #}
              {% if post.url.split("/").length === page.url.split("/").length + 1 %}
                {% set count = (count.push(1), count) %}
                <p>
                  <a href="{{ post.url }}">{{ post.data.title }}</a><br>
                  {% if post.data.headline %}
                    <em>{{post.data.headline}}</em>
                  {% else %}
                    {% if post.data.description %}
                      <em>{{post.data.description}}</em>
                    {% endif %}
                  {% endif %}
                </p>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </section>

{% endblock %}
