{% from './macros/readMoreButton.njk' import readMore with context %}

{% extends './base.njk' %}

  {% block header %}
    {% if content %}
      <div id="maincontent">
        {% include "header.njk" %}
      </div> 
    {% endif %}
  {% endblock %}
        
  {% block content %}
  {% if content %}
    <article id="maincontent" data-pagefind-body>
      {{ content | safe }}
    </article>
  {% endif %}

  <section class="index"><!-- use default mkdn class for styling -->
    {%- for post in revue %}}
      <h2 class="mb-0.5"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <div class="flex-row">
        <em class="text-text-light">le {{ post.date | date }}</em>
        {% if post.data.tags %}
          {% for tag in post.data.tags %}
            <em class="text-primary">🏷</em> <em class="text-text-light">{{ tag }}</em>
          {% endfor %}
        {% endif %}
      </div>
    {%- endfor %}

    {% if pagination.href.previous %}
      <div class="border-text-light [&&]:text-text-light border-1 rounded-2xl p-1 px-2 block float-left mt-10">
          <a href="{{pagination.href.previous}}" class="text-text-light!"> ← billets précédents </a>
      </div>
    {% endif %}
    {% if pagination.href.next %}
      <div class="border-text-light [&&]:text-text-light border-1 rounded-2xl p-1 px-2 block float-right mt-10">
          <a href="{{pagination.href.next}}" class="text-text-light!"> billets suivants → </a>
      </div>
    {% endif %}
    {% if pagination.pageNumber %}
      <div class="[&&]:text-text-light p-1 px-2 center m-auto w-35 mt-10">
        Page {{ pagination.pageNumber }} sur {{ pagination.pages.length-1 }}
      </div>
    {% endif %}

  </section>
{% endblock %}
