{% set entrees = [] %}
{%- for comment in collections.comment -%}
  {% set length = comment.filePathStem.split("/").length %}
  {% set slug = "/"+comment.filePathStem.split("/")[length-2]+"/" %}
  {% if slug === page.url %}
    {% set entrees = (entrees.push(comment), entrees) %}
  {% endif %}
{%- endfor -%}

{% if entrees.length %}
<h2>Commentaires</h2>
  <article>
  {%- for entree in entrees -%}
      <li class="list-none !ml-0 pb-9">
        {% if entree.data.email %}{% set email = entree.data.email %}{% else %}{% set email = "anonymous@example" %}{% endif %}
        <img
          src="{% gravatar email, 48, "retro" %}" 
          title="{{ entree.data.email }}"
          alt="{{ entree.data.author }} Avatar"
          width="48"
          height="48"
          class="float-left mr-2"
        /> par 
        {% if entree.data.site %}
          <a href="{{ entree.data.site }}">{{ entree.data.author }}</a><br>
        {% else %}
          {{ entree.data.author }}<br>
        {% endif %}
      <em class="text-text-light">le {{ entree.date | date }}</em><br>
        {{ entree.content | safe }}
      </li>
  {%- endfor -%}
  </article>
{% endif %}