{# <script>
{% set js %}
  {% include "src/_assets/js/animateheader.js" %}
{% endset %}
{{js | safe}}
</script> #}

<script src="/js/animateheader.js" type="text/javascript" defer></script>

<footer class="bg-white text-text-light text-center p-4 w-full shrink-0 ">
  <div class="border-text-light border-1 rounded-2xl p-1">
     Blog créé en 2006, animé par <a href="https://alix.guillard.fr/">Alix Guillard</a> cc-by-sa	
  </div>
</footer>
