<meta charSet="utf-8"/>
{% if meta.author.name %}<meta name="author" content="{{ meta.author.name }}" />{% endif %}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content="{{ eleventy.generator }}">
<link rel="icon" type="image/png" href="{{ '/favicon.ico' }}" />
<link rel="manifest" href="{{ '/manifest.json' }}" />

{% if page.fileSlug === "404" %}{% else %}
  <link rel="canonical" href="{{ meta.url }}{{ page.data.permalink or page.url | url }}" />
{% endif %}

<title>{{ title or meta.title }}</title>

{% if description %}{% set desc = description | safe %}{% else %}
  {% if headline %}{% set desc = headline | safe %}{% else %}
    {% if page.excerpt %}{% set desc = page.excerpt | text | trim | truncate(164) %}{% endif %}
  {% endif %}
{% endif %}
{% if desc %}<meta name="description" content="11 {{ desc }}">{% endif %}

{% if page.fileSlug === "404" %}{% else %}
  <meta name="fediverse:creator" content="@meinamsterdam@piaille.fr">
  <meta itemprop="name" content="{{ title }}">
  {% if desc %}<meta itemprop="description" content="{{ desc }}">{% endif %}
  {% if thumbnail %}<meta itemprop="image" content="{{ meta.url }}{% getOGImageUri meta, page, thumbnail %}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ meta.url }}{{ page.data.permalink or page.url | url }}">
  {% if desc %}<meta property="og:description" content="{{ desc }}">{% endif %}
  <meta property="og:site_name" content="{{ meta.title }}">
  <meta property="og:locale" content="{{ meta.language or "en" }}">
  {% if thumbnail %}<meta property="og:image" content="{{ meta.url }}{% getOGImageUri meta, page, thumbnail %}">{% endif %}

  {% if meta.author.fediverse %}<meta name="fediverse:creator" content="{{ meta.author.fediverse }}" />{% endif %}
  <meta name="generator" content="Eleventy">
  <meta name="twitter:title" content="{{ title }}">
  {% if desc %}<meta name="twitter:description" content="{{ desc }}">{% endif %}
  {% if thumbnail %}<meta name="twitter:image:src" content="{{ meta.url }}{% getOGImageUri meta, page, thumbnail %}">{% endif %}
  <meta name="twitter:card" content="summary_large_image">
{% endif %}

<link rel="me" href="https://piaille.fr/@meinamsterdam">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/feed.xml" }}" />
<link rel="stylesheet" href="{{ '/css/fonts.css' }}" preload>
<link rel="stylesheet" href="{{ '/css/styles.css' }}" preload>
