<meta charSet="utf-8"/>
{% if meta.author.name %}<meta name="author" content="{{ meta.author.name }}" />{% endif %}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="{{ '/favicon.ico' }}" />
<link rel="manifest" href="{{ '/manifest.json' }}" />

{% if page.fileSlug === "404" %}{% else %}
  <link rel="canonical" href="{{ meta.url }}{{ page.data.permalink or page.url | url }}" />
{% endif %}

<title>{{ title or meta.title }}</title>
{% if description %}<meta name="description" content="{{ description }}">{% endif %}

{% if page.fileSlug === "404" %}{% else %}
  <meta itemprop="name" content="{{ title }}">
  {% if description %}<meta itemprop="description" content="{{ description }}">{% endif %}
  {% if thumbnail %}<meta itemprop="image" content="{{ meta.url }}{% getOGImageUri meta, page, thumbnail %}">{% endif %}

  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ meta.url }}{{ page.data.permalink or page.url | url }}">
  {% if description %}<meta property="og:description" content="{{ description }}">{% endif %}
  <meta property="og:site_name" content="{{ meta.title }}">
  <meta property="og:locale" content="{{ meta.language or "en" }}">
  {% if thumbnail %}<meta property="og:image" content="{{ meta.url }}{% getOGImageUri meta, page, thumbnail %}">{% endif %}

  {% if meta.author.fediverse %}<meta name="fediverse:creator" content="{{ meta.author.fediverse }}" />{% endif %}
  <meta name="twitter:title" content="{{ title }}">
  {% if description %}<meta name="twitter:description" content="{{ description }}">{% endif %}
  {% if thumbnail %}<meta name="twitter:image:src" content="{{ meta.url }}{% getOGImageUri meta, page, thumbnail %}">{% endif %}
  <meta name="twitter:card" content="summary_large_image">
{% endif %}

<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "feed.xml" }}" />
<link rel="stylesheet" href="{{ '/css/styles.css' }}" preload>

{% if ismarkdown %}
  {# the markdown styles are included online to avoid render-blocking styles
  https://developer.chrome.com/docs/lighthouse/performance/render-blocking-resources/
  If you have more big styles on many pages, it may be a better idea 
  to load them via a <link rel="stylesheet" as the stylesheets above.
  In that case, you will need to create a new file in /src/pages/css/ 
  #}
  <style>
    {% set css %}
      {% include "src/_assets/css/highlightjs.css" %}
    {% endset %}
    {{css | postcss | safe}}
  </style>
{% endif %}