{% from '../macros/renderNavItem.njk' import renderNavItem with context %}

<div id="tabindexnav">
  <a href="#maincontent"
    class="fixed transition left-4 top-12 bg-secondary text-bg p-3 m-5 -translate-x-72 focus:translate-x-12 z-2">Skip to main content</a>
</div>

{% include "search-fallback.njk" %}

<nav class="transition-all ease-in w-full fixed h-32 bg-primary text-bg text-xl md:flex-shrink-0 border-b-4 border-secondary" id="navigation">
  {% set allEntries = collections.all %}
  <div class="float-left">
    <a href="/" {% if entry.url == "/" %} aria-current="page" {% endif %}
    class="transition-all ease-in block p-4 text-nowrap text-3xl md:text-4xl text-secondary"
    >
      <img src="/img/meinamsterdam-tr.svg" class="transition-all ease-in-out inline" alt="👤" width="72" height="72" />
      <span class="transition-all ease-in inline font-[PacificoRegular] ml-[-10px]"> me in Amsterdam</span>
    </a> 
  </div>
  {# Hiding menu for now #}
  {# TODO: build specific menu when needed #}
  {# <input id="hamburger" type="checkbox" name="hamburger" 
    class="md:hidden sr-only peer" 
    unchecked aria-label="menu" 
    onkeypress="event.key === 'Enter' && getElementById('hamburger').click()" />
  <label for="hamburger" class="after:float-right after:p-4 after:content-['≡'] peer-checked:after:content-['✕'] md:hidden cursor-pointer after:border-2 after:border-primary after:border-dotted peer-[:focus]:after:border-bg">
    <span class="sr-only">Menu</span>
  </label> #}
  <ul role="list" class="mt-12 md:mt-0 md:flex hidden peer-checked:block">
    {%- for entry in allEntries %}
      {% if entry.inputPath.startsWith('./src/pages/posts/') %}{% else %} {# remove posts #}
        {% if entry.url.split("/").length === 3 %}
          {# 
          length may be different if the site is not directly under the domain 
          → TODO: set length limit based on site base URL
          #}
          {# Hiding menu for now #}
          {# TODO: build specific menu when needed #}
          {# {{ renderNavItem(entry) }} #}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>