{% from '../macros/renderNavItem.njk' import renderNavItem with context %}

<div id="tabindexnav">
  <a href="#navigation"
    class="transition right-0 bg-primary text-bg dark:bg-bg-menu-dark absolute p-3 m-2 -translate-y-16 focus:translate-y-12">Skip to navigation</a>
  <a href="#maincontent"
    class="transition right-0 bg-primary text-bg dark:bg-bg-menu-dark absolute p-3 m-2 -translate-y-16 focus:translate-y-12">Skip to main content</a>
</div>

{% include "search-fallback.njk" %}

<nav class="w-full bg-primary text-bg dark:bg-bg-menu-dark text-xl md:flex-shrink-0" id="navigation">
  {% set allEntries = collections.all %}
  <div class="float-left">
    <a href="/" {% if entry.url == "/" %} aria-current="page" {% endif %}
    class="block p-4 text-nowrap hover:text-bg-hover"
    >ॐ<span class="hidden md:inline"> sweet home</span></a> 
  </div>
  <input id="hamburger" type="checkbox" name="hamburger" 
    class="md:hidden sr-only peer" 
    unchecked aria-label="menu" 
    onkeypress="event.key === 'Enter' && getElementById('hamburger').click()" />
  <label for="hamburger" class="after:float-right after:p-4 after:content-['≡'] peer-checked:after:content-['✕'] md:hidden cursor-pointer after:border-2 after:border-primary after:border-dotted peer-[:focus]:after:border-bg">
    <span class="sr-only">Menu</span>
  </label>
  <ul role="list" class="mt-12 md:mt-0 md:flex hidden peer-checked:block">
    {%- for entry in allEntries %}
      {% if entry.url.split("/").length === 3 %}
        {# 
        length may be different if the site is not directly under the domain 
        → TODO: set length limit based on site base URL
        #}
        {{ renderNavItem(entry) }}
      {% endif %}
    {% endfor %}
  </ul>

</nav>