<section class="mailform">
  <form method="post" action="https://lm.chim.re/subscription/form" class="listmonk-form">
      <label for="email">Votre adresse électronique :</label>
      <input type="email" id="email" name="email" required data-validation-required-message="votre adresse mail" data-validation-validemail-message="votre adresse n'est pas bonne" />
      <label for="name">Votre nom (facultatif):</label>
      <input type="text" id="name" name="name"/>
      <input id="e6852" type="hidden" name="l" checked value="e6852a50-d309-4e69-8a46-4cb2f0e92e47" />
      <input type="submit" value="Souscrire " />
  </form>
</section>