---
layout: base
eleventyExcludeFromCollections: true
eleventyComputed:
    title: 'computed Mot clé : {{ tag }}'
    description: 'fine page {{ collections[ tag ].length }}'
pagination:
  data: collections
  size: 1
  alias: tag
title: Le Mot clé {{ tag }}
permalink: /tag/{{ tag }}/{{ n }}/
---

{% set taglist = collections[ tag ] | reverse %}

<p>
  Il y a {{ taglist.length }} article{% if taglist.length === 1 %}{% else %}s{% endif %} avec le mot-clé {{ tag }}
  {% if taglist.length > 10 %}
    Ci dessous les 10 derniers articles :
  {% endif %}
</p>

<p>
  on va faire pages de 2 titres<br>
  long {{ collections[ tag ].length }} on {{ collections[ tag ].length / 2 }} pages <br>  
  on est sur la page {{ n }} avec le post {{ taglist.length * n / 2  }}<br>
  pagination: {{pagination.href.previous}}
</p>
<section class="index">
  {% for post in taglist.slice(0,10) %}
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <div class="flex-row -mt-2">
      <em class="text-text-light">in <a href="/{{ post.data.categorie }}/" class="text-text-light">{{ post.data.categorie }}</a>, le {{ post.date | date }}</em>
    </div>
  {% endfor %}
</section>
