@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ff6f32; /* orange */
  --color-secondary: #000000; /* black */
  --color-tertiary: #162456; /*************/
  --color-bg: #ffffff; /* white */
  --color-bg-hover: #dbeafe;  /***************/
  --color-text: #0f172b; /* grey */
  --color-text-light: #4a5565; /* light grey */
  --color-link: #0064B9; /* darker blue */
  --color-visited: #05319C; /* blue */
  --color-link-hover: #3399CC; /* darker blue */
  --color-note: #104e64;  /***************/
  --color-note-bg: #b8e6fe;  /***************/

  --color-primary-dark: #ff6f32; /* blue-400 */
  --color-secondary-dark: #ffffff; /* blue-300 */
  --color-tertiary-dark: #7591f3; 
  --color-bg-menu-dark: #162456; /* blue-950 */
  --color-bg-dark: #101828; /* grey-900 */
  --color-bg-hover-dark: #202838; /* blue-100 */
  --color-text-dark: #fff; /* slate-900 */
  --color-link-dark: #8ec5ff; /* blue-200 */
  --color-visited-dark: #c4b4ff; /* violet-200 */
  --color-note-dark: #a2f4fd; /* cyan-200 */
  --color-note-bg-dark: #104e64; /* cyan-900 */
}

@layer base {
  /*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
  */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  * {
    @apply font-[OpenSansRegular];
  }
}

/* default styles for markdown and html. Can be overwritten */
@utility mkdn {
  & h2, & h2 > a {
    @apply mt-8 mb-1 text-left text-3xl/6 leading-tight text-secondary font-[Advent];
  }
  & .index h2 > a {
    @apply text-4xl/6;
  }
  & h3 {
    @apply my-4 text-left text-2xl/6 leading-normal text-tertiary font-[Advent];
  }
  & h4 {
    @apply my-4 text-left text-lg leading-normal text-secondary font-[Advent];
  }
  & p {
    @apply my-4 text-lg text-justify font-light leading-6 tracking-wide text-text;
  }
  & ul {
    @apply my-4 text-lg font-light leading-6 text-text;
  }
  & ol {
    @apply my-4 text-lg font-light leading-6 text-text;
  }
  & ul {
    @apply list-disc;
  }
  & ol {
    @apply list-decimal;
  }
  & li {
    @apply ml-8 mb-2 text-justify;
  }
  & code {
    @apply text-xl;
  }
  & mark {
    @apply bg-amber-200;
  }
  & button {
    @apply bg-link hover:bg-link-hover text-white font-bold py-2 px-4 rounded-2xl;
  }
  & a, & p a {
    @apply text-link underline underline-offset-2 hover:no-underline visited:text-visited;
  }
  & h2 > a {
    @apply text-secondary no-underline visited:text-tertiary;
  }
  & b {
    @apply font-[OpenSansBold];
  }
  & .note {
    @apply text-justify text-note bg-note-bg border p-4 border-note border-l-8 before:content-['ⓘ_Note:_'] before:font-bold;
  }
  & img.center {
    @apply my-0 mx-auto block;
  }
  & img.left {
    @apply float-left mr-4;
  }
  & img.right {
    @apply float-right ml-4;
  }
}
