/* -----------------------------------------------------------------
	1. STRUCTURE
	a inscrire ici ou en important une css de structure placee dans
	le meme repertoire et appelee grace a l'instruction ci-dessous
------------------------------------------------------------------ */
/* @import url(nom_du_fichier.css); */
   @import url(structure.css);
   @import url(fonts.css);

/* ------------------------------------------------------------
	2. BALISES HTML PAR DEFAUT
------------------------------------------------------------- */

body {
    margin:0;
    color: #4F4F4F;
    font-family: "OpenSansRegular", Verdana, Helvetica, Arial, sans-serif;
    font-size: 90%;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "OpenSansLightItalic", Verdana, Helvetica, Arial, sans-serif;
}

h1 { font-size: 2.5em;}
h2 { font-size: 2.3em;}
h3 { font-size: 2.1em;}
h4 { font-size: 1.9em;}
h5 { font-size: 1.7em;}
h6 { font-size: 1.5em;}

p { }
img { max-width: 100%; }
sup { }
abbr, acronym { }

b, strong {
	font-family: "OpenSansRegular", Verdana, Helvetica, Arial, sans-serif;
}

i, em {
	font-family: "OpenSansRegular", Verdana, Helvetica, Arial, sans-serif;
}

blockquote, q, cite {
    font-family: 'open_sans_lightitalic';
 }

ul { }
ol { }
dl { }

form { }
fieldset {  
	border: 0;
	margin: 0;
	padding: 0;
}
input { }
label { }

a { 
	color: #bbb;
	text-decoration: none;
}
a:hover, a:focus { 
	color: #999;
}
a[hreflang]:after { }
a img { }
 
code, pre {
	white-space: normal;
	width: 100%;
}
pre { }
 
hr { }

.clear { clear:both; }

/* ------------------------------------------------------------
	4. HAUT DE PAGE
------------------------------------------------------------- */

#top div#blogname, header div#blogname {
    background: url('img/me-amsterdam-72t.png') 1px 2px no-repeat;
    font-family: 'PacificoRegular';
    font-size: 2.5em;
    padding: 21px 1px 1px 60px;
    margin: 12px 0 0 0;
    height:72px;
    position:relative;
    transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
}

#top.shrink div#blogname, header.shrink div#blogname { 
    font-size: 1.6em; 
    padding: 5px 1px 1px 36px;
    margin: 0;
    position:relative;
    background-size: 36px 36px;
    height:auto;
}

#top div#blogname a, header div#blogname a { 
    color: #111111; 
    text-decoration:none;
}

#top div#blogname a:hover, header div#blogname a:hover { 
    color: #000000; 
    text-shadow:1px 1px 2px #FFFFFF;
}

#topmenu {
    padding-top: 28px;
    z-index: 20;
}

#topmenu.shrink {
    position: fixed;
    top: -6px;
    left: 280px;
}

#topmenu .categories {
    margin: auto;
    width: 1120px;
}

#topmenu H2{
    visibility:hidden;
    margin: 0;
    padding: 0;
}
#topmenu ul{
    display:inline;
    height: 46px;
    list-style: none outside none;
    margin: 0 auto;    padding: 0;
}

#topmenu ul li {
    float: left;
    margin: 0 15px;
}

#topmenu ul li a {
    font-family: 'PacificoRegular';
    font-size: 1.5em;
    background-color:#ff6f32; /*#ff5521;*/
    border: 3px solid black;
    border-radius: 25px 25px 25px 25px;
    color: black;
    padding: 5px 10px 1px;
}

#topmenu.shrink ul li a {
    font: 12px/16px "OpenSans",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    border: 0;
    padding: 0;
    background: none;
}
#topmenu ul li span {
    font-family: 'arial';
    font-size: small;
    color:white;
}

#topmenu ul li:hover > span {
     color:#AFAFAF;
}

#topmenu ul li a:hover {
    text-shadow:1px 1px 2px #FFFFFF;
}
#navigation {
	width : 100%;
	height : 30px;
	background : #eee;
	border-bottom: 1px solid #DDDDDD;
	position : fixed;
	top : 0;
	left : 0;
	text-transform: uppercase;
	letter-spacing: 3px;
}
#navigation ul {
	margin : 0 auto;
	padding : 8px 30px 0;
}
#navigation ul li {
	display : block;
	float : left;
	margin : 0 20px 0 0;
	font-size : 90%;
}
#navigation ul li.nav-active a { border: 1px solid #fff; }
#navigation ul li a { 
	color: #999; 
	text-decoration: none;
}
#navigation ul li a:hover {
	border-bottom: 1px solid #ccc;
}

/* ------------------------------------------------------------
	5. WRAPPER MAIN CONTENT
------------------------------------------------------------- */

#content a{ }

#content-info {
    border:2px solid #ff5521;
    border-radius:25px;
    padding:10px;
    margin-bottom:20px;
 }

#content-info h2 { 
    clear: both;
    color: black;
    font-family: "Advent","OpenSansExtrabold";
    font-style: normal;
    font-weight: normal;
    margin: 3px 0 0 0;
    text-align: center;
}

#content-info h2 a { 
    color: #333;
}

#content-info p { }

.content-inner { }

.pagination { 
  text-align:center;
  font-size: 0.9em;
}
#navlinks { 
    color: #D5D0CC;
    font: 14px/18px 'OpenSansLightItalic',Helvetica,Arial,sans-serif;
    margin: -5px 0 30px 0;
    text-align: center;
    padding: 5px;
    border: 1px solid #D5D0CC;
    border-radius: 25px;
    height:20px;
}

#navlinks a.prev {
    display:block;
    float:left;
    padding-left:10px;
}
#navlinks a.next {
    display:block;
    float:right;
    padding-right:10px;
}
#navlinks a.prev::before {
    content: "« ";
}
#navlinks a.next::after {
    content: " »";
}
#navlinks a { color: #D5D0CC;}
#navlinks a:hover { color: #ff5521;}

.mobile_surtitre {
    display: none;
}

/* ------------------------------------------------------------
	6. BILLETS
------------------------------------------------------------- */

.post { 
	margin-bottom: 40px;
}
.post.first { }
.post.odd{ }

.day-date { 
    display:none;
}

H1.post-title a { 
    color: #343434;
    text-decoration:none;
}

H1.post-title {
    color: #343434;
    float: left;
    font-family: "Advent", "OpenSansExtrabold";
    font-size: 3.3em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.8em;
    margin: 0;
    width: auto;
    word-spacing: 1px;
}
H1.post-title {
/*    font-size: 3.3em; */
}
.post H2 {
    font-family: "Advent", "OpenSansExtrabold";
    font-size: 2.2em;
}

.post H2 a, post-title H2 a {
color: #333;
}

H1.post-title a:hover { 
    color: #222222;
    text-shadow:0px 0px 0px #A3A3A3; 
}

.post-content p, .post-excerpt p { 
	text-align: justify;
}
.post-content li, .post-excerpt li { 
	text-align: justify;
	padding-top:10px;
	list-style-image:url("img/puce.png");
}
.post-content a, .post-excerpt a{ 
    color:#3399CC;
}
.post-content a:hover, .post-excerpt a:hover {
    text-decoration:underline;
    color:#ff5521;
}
.post-info {
    clear:both;
    color: #D5D0CC;
    font: 14px/18px 'OpenSansLightItalic',Helvetica,Arial,sans-serif;
    margin: -5px 0 0;
}
.post-info a { color: #D5D0CC;}
.post-info a:hover { color: #ff5521;}

.post-tags {
	color: #D5D0CC;
	font-size: 0.9em;
	padding-left: 0;
	text-transform: uppercase;
}
.post-tags li { display: inline;}

.post-tags a {
    margin : 0 10px 0 0;
    padding : 2px 0 2px 20px;
    background : url('img/tag.png') no-repeat left center;
    display : inline;
    font-family: "OpenSansLight";
    font-size:small;
}

.post-tags a:hover { color: #ff5521; }

.post .central {
    margin: auto;
    text-align: center;
    width: 600px;
}

.post-excerpt { }
.post-content { }

a.editpost, a:hover.editpost { 
    cursor:text;
    color: #D5D0CC;
}

.read-it a {
    background: none repeat scroll 0 0 #3399CC;
    border: 0 none;
    font-size:90%;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    padding: 1em 0.5em;
    text-align: center;
}

.read-it a:hover {
    background: none repeat scroll 0 0 #ff5521;
    color: #FFFFFF;
}

.footnotes { }
.footnotes h4 { 
    font-family: "PacificoRegular";
    font-size: 1.8em;
    color: black;
    padding: 5px 10px 1px;
}

.post-info-co { 
	background : #fff;
	padding: 5px;
	border: 1px solid #D5D0CC;
	border-radius: 25px;
	font-size: 0.9em;;
}
.post-info-co { }

#subscribetocomments_block h3 {
    display: none !important;
}

subscribetocomments_block
.post-info-co a, #subscribetocomments_block a { 
    color:#3399CC;
}
.post-info-co a:hover, #subscribetocomments_block a:hover {
    text-decoration:underline;
    color:#ff5521;
}

.comment_count {
	background: url(img/comm.png) no-repeat left center;
	padding-left: 16px;
}
.ping_count {
	background: #fff url(img/ping.png) no-repeat left center;
	margin-left: 8px;
	padding-left: 16px;
}
.attach_count {
	background: #fff url(img/attach.png) no-repeat left center;
	margin-left: 8px;
	padding-left: 16px;
}

#attachments { }
#attachments h3 { }
#attachments ul { }
#attachments ul li { }
#attachments li.audio { }
#attachments li.package { }
#attachments li.text { }

div#socialmedia,
div.horizontal-banner {
    border: 2px solid #FF5521;
    border-radius: 25px 25px 25px 25px;
    margin: 0px;
    padding: 10px;
    text-align:center;
    overflow: hidden;
}

div.horizontal-banner {
    margin: -10px 10px 10px 10px;
    clear: both;
    max-width: 610px;
    overflow: hidden; /* prevent banners to resize screen in mobile view */
}

/* ------------------------------------------------------------
	7. COMMENTAIRES, PINGS
------------------------------------------------------------- */

#comments, #pings, #pr, #comment-form {
}

#comments h3, #pings h3, #pr h3, #comment-form h3, #subscribetocomments_block h3 {
    font-family: 'PacificoRegular';
    font-size: 1.8em;
/*    background-color:#ff5521;
    border: 3px solid black;
    border-radius: 25px 25px 25px 25px; */
    color: black;
    padding: 5px 10px 1px;
}

#comments a {
    color: #3399CC;
}

#comments a:hover {
    color: #FF5521;
    text-decoration:underline;
}

#comments dl { }
#comments dt, #pings dt, #pr dt {
    color: #AFB1BE;
/*    color: #D5D0CC; couleur post-info */
    font: 12px/16px 'OpenSansLightItalic',Helvetica,Arial,sans-serif;
}

/*
#comments dt a, #pings dt a, #pr dt a{
    color: #3399CC;
}
#comments dt a:hover, #pings dt a:hover {
    color: #FF5521;
    text-decoration:underline;
}
*/


#comments dt a.comment-number {
    color: #AFB1BE;
}

#comments dt img.gravatar, #pr dt img.gravatar {
    float:left;
    margin-right:5px;
    max-width:32px;
}

#comments dd, #pings dd {
	margin: -5px 0 30px;
	padding: 0;
	color: #525252;
	font-size: 0.97em;
	border-bottom:1px dotted #DDEEF5;
}
#comments .first { }
#comments .odd { }
#comments .me { }

#pings dl { }
#pings dt { }
#pings dd { }
#pings .first { }
#pings .odd { }
#pings .me { }

#pr h3 {
    margin:3px 0;
}

#pr dl.preview {
    border: 1px solid #DDEEF5;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 3px 0 5px;
    background-color:#FDFFEE;   
    margin:0;
}

#pr dl { }
#pr dd { margin:0; }

#comment-form fieldset { }
.field { }
.field label, .remember label, #subscribeToComments_checkbox label {
	float: left;
	padding-right: 20px;
	text-align: right;
	color: #94A0B0;
	font-size: 0.9em;
}
.remember label { float: none; }
.field input , .field textarea {
	width: 80%;
	border: 1px solid #424242;
font-family: "OpenSansRegular",Verdana,Helvetica,Arial,sans-serif;
font-size: 0.95em;

}

#comment-form input[type=submit] { }
#comment-form input[type=reset] { }

.form-help {
	color: #94A0B0;
	font-size: 0.9em;
}
#ping-url { }
#comments-feed { }


/* ------------------------------------------------------------
	8. SIDEBAR
------------------------------------------------------------- */

#sidebar a { 
/*	color: #53676E;*/
    color:#3399CC;
}

#sidebar a:hover {
    text-decoration:underline;
    color:#ff5521;
}

#blognav { }
#blogextra { }

#sidebar h2 ,
#sidebar h3 { 
    font-family: "PacificoRegular";
    text-align: center;
    background-color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
	color: black;
	clear: both;
}

#blogextra > h2 { 
     display:none;
}


#sidebar ul { }
#sidebar li { 
	list-style-type: none;
}

/* boites du menu des widgets livres avec Dotclear */
#search { 
	padding: 0;
	margin: 0;
	top:27px;
	right:27px;
	position:fixed;
        search: 100;
        z-index: 20;
}
#search h2 { 
    margin:0 0 1px 0;
    color:#333;
    text-align:right;
    background-color: transparent;
}

#search form,
#search p,
#search fieldset  { 
	padding: 0;
	margin: 0;
}
#search input[type=text] {
	border: 1px solid #666;
	color: #000000;
	background: #fff;
        border-radius:5px;
} /* ou #search #q */

#search input[type=text]:focus {
	width: 350px;
}
#search input[type=submit] { 
	background: #333;
	border: 1px solid #333;
	color: #fff;
        border-radius:5px;
} 


/* boites du menu des widgets livres avec Dotclear */
#search.shrink { 
	top:2px;
	right:27px;
}

#search.shrink h2 { 
    font-size: 1.2em;
    margin: 0 0 -3px;
}
/* ou #search .submit */

#topnav { }
.topnav-arch {
    border:2px solid #ff5521;
    border-radius:25px;
    text-align:center;
    padding:10px;
    margin-bottom:10px;
 }
#sidebar .sendToFriend {
    display:block;
    font-size: 1.2em;
} 

.selected, .syndicate, .links, .tags, .photos, .partager2{
    border:2px solid #ff6f32; /* #ff5521; */
    border-radius:25px;
    padding:10px;
    margin-bottom:20px;
 }

.selected ul, .syndicate ul, .links ul, .tags ul { padding:0; margin:0;}
.selected h2, .syndicate h2, .links h2, .tags h2, .photos h2, .partager2  h2 {
    margin: -26px 0 0;
    padding: 5px;
    white-space: nowrap;
    display: table;
}

.banner300 {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
    max-width: 301px;
    overflow: hidden; 
}


.topnav-home { }
.selected { }
.lang { }
.categories { }
.syndicate { }

.syndicate H2 { 
    width: 95px;
}

.lastposts { }
.lastcomments { }
.text { }
.links { }
.links H2 { 
    width: 150px;
}

.tags { 
    text-align:center;
}

/*
.tags H2 {
    width: 132px;
}

.photos H2 {
    width: 58px;
}
*/
.photos table#flickr_badge_uber_wrapper {
    margin: 0 auto;
    text-align: center;
}

.photos #flickr_badge_wrapper {
    margin: 0 auto;
    text-align: center;
}

.tags li { }
/* a completer separement ou globalement pour le sidebar et la page 
spécifique des tags avec les differentes class des tags en fonction 
de leur frequence - voir 9/ classes communes */


/* ------------------------------------------------------------
	9. FOOTER
------------------------------------------------------------- */

#footer, footer { 
    color: #CCCCCC;
    font: 12px/16px 'OpenSansLight',Helvetica,Arial,sans-serif;
    padding: 5px;
    border: 1px solid #D5D0CC;
    border-radius: 25px;

}
#footer a, footer a {
	color: #CCCCCC;
}
#footer a:hover, footer a:hover {
    color: #ff5521;
    text-decoration:underline;
}


/* ------------------------------------------------------------
	10. CLASSES COMMUNES
------------------------------------------------------------- */

/* class sur les liens rss (on peut y placer l'icone
feed.png a piocher dans le theme par defaut par ex.) */

.feed { 
	padding-left:16px;
/*	background : transparent url(img/feed.png) no-repeat left center; */
	 }


/* tags dans le sidebar et dans la page les regroupant
(exemple ici pour un nuage) */
.dc-tags #content ul li, .dc-tags #content ul li a, 
.tags ul li, .tags ul li a {
	display : inline;
	width : auto;
	padding-left : 0;
	padding-right : 4px;
	background : transparent;
	line-height : 1.5em;
        color: #3399cc;
}
.tags ul li a:hover {
	background-image :none;
}
.dc-tags .tag0, .tags .tag0 { font-size: 85%; }
.dc-tags .tag10, .tags .tag10 { font-size: 90%; }
.dc-tags .tag20, .tags .tag20 { font-size: 95%; }
.dc-tags .tag30, .tags .tag30 { font-size: 100%; }
.dc-tags .tag40, .tags .tag40 { font-size: 105%; }
.dc-tags .tag50, .tags .tag50 { font-size: 110%; }
.dc-tags .tag60, .tags .tag60 { font-size: 115%; }
.dc-tags .tag70, .tags .tag70 { font-size: 120%; }
.dc-tags .tag80, .tags .tag80 { font-size: 125%; }
.dc-tags .tag90, .tags .tag90 { font-size: 130%; }
.dc-tags .tag100, .tags .tag100 { font-size: 135%; }

/* messages d'erreur */
.error {
	border : 1px solid #c44;
	background : #df0;
	padding : 0.5em;
	}
.error ul {
	padding-left : 20px;
	}
.error li {
	list-style : square;
	}
	
/* exemples de ceux que j'ajoute souvent */
.left { float: left; margin-right : 1em; }
.right { float: right; margin-left : 1em; }
.center { margin-left : auto; margin-right : auto; }
.left-text { text-align : left; }
.right-text { text-align : right; }
.center-text { text-align : center; }
.little-text { font-size : .8em;}
.little-upper-text { font-size : .8em; text-transform : uppercase; }


/* ------------------------------------------------------------
	11. PAGES SPECIFIQUES
	j'indique le marqueur du body, a completer pour cibler 
	plus precisement (cf l'exemple ci-dessus pour les tags)
------------------------------------------------------------- */

.dc-home { }
.dc-post { }
.dc-categories { }
.dc-category { }
.dc-archive { }
.dc-archive-month { }
.dc-tags { }
.dc-tag { }
.dc-404 { }
.dc-search { }

.dc-archive #content ul li a {
	background : transparent;
        color: #3399cc;
}
.dc-archive #content ul li {
	display : inline;
	width : auto;
       list-style-type: none;
	line-height : 2em;
       padding: 0 2em 0 0;
       color: #000;
}
/* ---------------------------------------------------
  12. ET POUR FINIR NE PAS OUBLIER LES CLEARERS
	ici ceux le plus souvent necessaires
--------------------------------------------------- */
.post, .post-content, .footnotes, .attachments, 
.post-info-co, #comments, #footer, footer {
    clear:both;
    }


/* ---------------------------------------------------
  13. RESPONSIVE
	ici le code important pour les petits écrans
--------------------------------------------------- */

@media (max-width: 850px) {
    H1.post-title {
        width: 100%;
        word-wrap: break-word;
    }
    #topmenu {
        display: none;
    }
    #search input[type=text]:focus {
	  width: 200px;
    }
    #sidebar { 
        font-size: 1em;
    }
    .selected h2, .syndicate h2, .links h2, .tags h2, .photos h2, .partager2 h2 {
        width: 50%;
        white-space: nowrap;
    }
    .post .central {
        width: auto;
        max-width: 92%;
    }
    .post img, .post iframe, .post video, #comments img, #comments iframe, .post object, #comments object {
        max-width: 90%;
    }
}


@media (max-width: 550px) {
    #top, header {
        height: 85px;
    }
    div#search {
        display: none;
    }
    H1.post-title {
        font-size: 2em;
    }
    H2 {
        font-size: 1.95em;
    }
    H3 {
        font-size: 1.8em;
    }
    #top div#blogname, header div#blogname {
        font-size: 2em;
        margin: 0;
    }
    #socialmedia table, #socialmedia thead, #socialmedia tbody, #socialmedia th, #socialmedia td, #socialmedia tr {
        display: block;
    }

    #navlinks {
        border: 0;
        font-size: 0.9em;
	margin:-35px 0;
	padding: 0;
	width: 100%;
    }
    #navlinks.shrink {
	position: fixed;
	top: 46px;
	left: 0;
	margin:0;
	padding: 0 0 0.5em 0;
	background-color: white;
	border-radius: 0;
	border-bottom: 1px solid #d5d0cc;
        z-index: 10;
    }
    #navlinks span { display: none; }

    #navlinks a {
        margin: 2px 0;
        width: 47%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; 
        color: #3399cc;
	padding: 0 2%;
    }
    #navlinks a.prev {
        text-align: left;
        padding: 0;
    }
    #navlinks a.next {
        float: none;
        text-align: right;
        padding: 0;
    }

    .mobile_surtitre {
	display: block;
	margin: 0;
	padding: 0;
        clear:both;
        width: 99%;
    }

    .post-info {
	display:none;
    }
    ul.post-tags {
	display: block;
        margin-top: 0;
    }
    ul.post-tags li a {
        color: #3399cc;
    }
    #comment-form, #pings, p#ping-url {
        display: none;
    }
}